@media(max-width:451px){
  .abouth1{
    font-size: 7vw;
    line-height:7vw;
    margin: 30px 20px;
    letter-spacing:-2px;
  }
  .about1{
    height:auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .about11 h1{
    font-size: 5vw;
    font-weight: 700;
    margin-left: 20px;
  }
  .about11 button{
    margin-left: 20px;
  }
}